html
{
    font-family : 'Raleway', arial , sans-serif ;
    color: #181818; 
}

body
{
    margin: 0;
}

a:link 
{ 
 text-decoration:none; 
} 


header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0px;
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
/* navbar*/
nav a 
{
    font-size: 0.9em;
    color: black;
    padding-top: 3.2px;
    text-decoration: none;
    padding: 1.8em;
}  
a
{
    text-decoration: none;
    color: black;
    font-style: normal;
}

a:hover
{
    text-decoration: #0065fc;
    color: #0065fc;
}

header nav a 
{
    margin-left: 20px;
}

header nav
{
    display: flex;
    align-items: center;
}


.search_nav a:hover
{
    border-top: 3px solid #0065fc;
    padding-top: 1.6em;
}

.link
{
    border-top: 3px solid #0065fc;
    padding-top: 1.6em;
}

.sign
{
    font-weight: bold;
    margin-right: 10px;
    color: #0065fc;
}

/*barre de recherche*/

article
{
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

.title_search h1
{
    margin: 00px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap; 
}

.fa-map-marker-alt 
{
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.logo_loupe
{
    position: relative;
    height: 50px;
    background-color: #F2F2F2;
    width: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#recherche
{
    display: inline-flex;
    height: 50px;
    margin-top: 15px;
}


.bloc_search
{
    display: flex;
    justify-content: flex-start;
    
}
.rechercher
{
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 30%;
    height: 50px;
    border: none;
    color: white;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    padding: 0 1.5rem;
}

.loupe 
{
    display: none;
}

.nav_bar
{
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em;
}

/* filtres*/

#filtres
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.title_filtres
{
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    margin-right: 28px;
}
 
.filtre
{
display: flex;
}

.filtre_bouton
{
display: flex;
align-items: center;
margin-right: 2rem;
border: 2px solid #d9d9d9;
border-radius: 2rem;
cursor: pointer;
font-weight: bold;
padding-right: 1rem;
}

.icon_filter
{
    display: flex;
    background-color: #deebff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    min-width: 3.5rem;
    min-height: 3.5rem;
    margin: -2px;
    color: #0065fc;
    margin-right: 1rem;
}


.fa-male, .fa-money-bill-wave, .fa-heart, .fa-dog
{
    font-size: 1.2em;
    color: #0065fc;
}

.filtre_bouton p 
{
    font-weight: bold;
}

.filtre_bouton:hover
{
    text-decoration: underline;
    color: #0065fc;
}


h4
{
font-size: medium;
font-weight: normal;
font-style: normal;
}

#info
{
  
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}

.fa-info
 {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color: #0065FC;
}



/* chambres */

#room
{
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 6fr 3fr;
    
}
.title_room
{
    margin: 0px;
    font-size: 1.6em;
    grid-column: 1/-1;
}

#hotel_marseille
 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2rem;
}

.marseille_room
{
    border: 2px solid white;
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
}

.marseille_room_jpg-pic
{
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.hotel_name
{
    margin: 0.25rem 0.75rem 0 0.75rem;
}

.hotel_price
{
   margin: 0.25rem 0.75rem 0 0.75rem; 
}

.more 
{
    font-weight: bold;
}

.room_notation
{
    color: #0065fc;
    margin: 0.25rem 0.75rem 0 0.75rem;
}

.grey-star
{
    color:#EAEDED;
}

/* populaire */

#most_populars
{
    row-gap: 2rem;
    display: grid;
    align-items: start;
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2rem;
}

#most_populars h2
{
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.title_pop
{
     font-size: large;
    margin-bottom: 21px;
}

.most_pop
{
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 150px;
    margin-bottom: 30px;
}

#most_populars a 
{
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow: auto;
}

.most_pop_jpg-pic1
{
    margin: 0;
    position: relative;
    min-height: 100%;
    min-width: 33%;
    max-width: 33%;
    border-radius: 1rem 0 0 1rem;
    width: 100%;
    object-fit: cover;
}

.most_pop_jpg-pic
{
    margin: 0;
    position: relative;
    min-height: 100%;
    min-width: 33%;
    max-width: 33%;
    border-radius: 1rem 0 0 1rem;
    width: 100%;
    object-fit: cover;
}

.most_pop_jpg-pic3
{
    margin: 0;
    position: relative;
    min-height: 100%;
    min-width: 33%;
    max-width: 33%;
    border-radius: 1rem 0 0 1rem;
    width: 100%;
    object-fit: cover;
    height: 7rem;
}

.most_pop_name_price
{
    padding-bottom: 6px;
    flex-direction: column;
}

.room_text_pop
{
    display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.pop_notation
{
    color: #0065fc;
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* marseille activités*/

#marseille_activities
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 60px;
    max-width: 1350px;  
    background-color: white;
}

.title_activities
{
    margin-bottom: 27px;
    font-size: 1.6em;
}

#activities
{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activities2et3, .activities5et6
{
    display: flex;
    flex-direction: column;
}

.activitie1, .activitie2, .activitie3, .activitie4, .activitie5, .activitie6 
{
    box-shadow: 0 0 20px #5856562e;
    border-radius: 20px;
    margin: 0px 0px 41px 0px;
}

.activitie_jpg1, .activitie_jpg2, .activitie_jpg3, .activitie_jpg4, .activitie_jpg5, .activitie_jpg6
{
    background-size: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 0px 22px 0px;
}

.activitie_pic1, .activitie_pic2, .activitie_pic3, .activitie_pic4, .activitie_pic5, .activitie_pic6
{
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.activitie_pic1, .activitie_pic4
{
    width: 301px;
    height: 390px;
}

.activitie_pic2
{
    width: 305px;
    height: 185px;
}

.activitie_pic3
{
    width: 305px;
    height: 112px;
}

.activitie_pic5
{
    width: 305px;
    height: 141px;
}

.activitie_pic6
{
    width: 305px;
    height: 155px;
}

.activitie_name
{
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    font-size: medium;
    text-indent: 10px;
    margin-top: 10px;
    margin-left: 5px;
}

/*footer*/

footer
{ 
    background-color: #f2f2f2;
    display: flex;
    padding: 30px 100px 51px 86px;
    justify-content: space-between;
    list-style-type: none;
    flex-direction: row;
    
}
footer h3
{
    font-size: 19px;
    margin: 1rem 0;
    margin-right: 300px;
}
.bloc_footer ul
{ 
    list-style-type: none;
    padding: 10px;
   
}

.link_footer
{
    margin: 1rem 0;
    font-size: 15px;
    cursor: pointer;
    line-height: 28px;
}


@media screen and (min-width: 1101px)
 {

    #room
    {
        display: grid;
        column-gap: 2rem;
        grid-template-columns: 6fr 3fr;
    } 

}

@media screen and (max-width: 650px)
{


    .header 
    {
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
            "logo . button"
            "navbar navbar navbar";
        position: relative;
    }

    .sign
    {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        width: auto;
        border-bottom: none;
    }

    header a
     {
        width: 50%;
        padding: 0;
    }

    header nav a 
    {
        display: inline-block;
        border-bottom: 3px #f2f2f2 solid;
        width: 100%;
    }

    header nav a
    {
        border-bottom: 3px #0065FC solid;
        border-top: none;
    }

    header nav a:hover
     {
        border-top: none;
    }

    #filtres
    {
        flex-direction: column;
    }

    .filtre
    {
        flex-direction: column;
    }

    .filtre_bouton
    {
        margin-bottom: 10px;
    }
    #room
    {
        flex-direction: column-reverse;
        display: flex;
    }
    #hotel_marseille, #marseille_activities
    {
        grid-template-columns: 1fr;
    }

    #marseille_activities
    {
        grid-template-rows: auto repeat(6, 20rem);
        row-gap: 2rem;
    }

    #marseille_activities h2 
    {
        grid-row: 1;
        grid-column: 1/-1;
    }

    .activitie1 
    {
        grid-row: 2;
        grid-column: 1/-1;
    }

    .activitie2 
    {
        grid-row: 3;
        grid-column: 1/-1;
    }

    .activitie3
    {
        grid-row: 4;
        grid-column: 1/-1;
    }

    .activitie4
    {
        grid-row: 5;
        grid-column: 1/-1;
    }

    .activitie5
    {
        grid-row: 6;
        grid-column: 1/-1;
    }

    .activitie6 
    {
        grid-row: 7;
        grid-column: 1/-1;
    }

    .activitie_pic1, .activitie_pic4
    {
        height: 100%;
    }

    .activitie_pic3
    {
        height: 100%;
    }
    #footer
    {
        flex-direction: column;
    }

    footer h3 
    {
        margin: 0;
    }
 }

 @media screen and (min-width: 650px) and (max-width:1100px)
{

    #room
    {
        display: flex;
        flex-direction: column-reverse;

    }
    
    .filtre
    { 
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .filtre_bouton
    {
        margin-bottom: 15px;
    }
    #hotel_marseille, #marseille_activities
    {
        grid-template-columns: 1fr 1fr;
    }

    #marseille_activities
    {
        grid-template-rows: auto 12rem 12rem 12rem;
        row-gap: 2rem;
    }

        #marseille_activities h2 
        {
            grid-column: 1/-1;
        }

        .activitie1
        {
            grid-row: 2;
            grid-column: 1;
        }

        .activitie2
        {
            grid-row: 2;
            grid-column: 2;
        }

        .activitie3
        {
            grid-row: 3;
            grid-column: 1;
        }

        .activitie4 
        {
            grid-row: 3;
            grid-column: 2;
        }

        .activitie5
        {
            grid-row: 4;
            grid-column: 1;
        }

        .activitie6
        {
            grid-row: 4;
            grid-column: 2;
        }

        footer 
        {
            display: block;
        }

        .bloc_footer
        {

        }
 }

 @media screen and (max-width: 1100px)
 {
    body 
    {
        padding: 0;
    }

    #search
    {
        padding: 0 1rem;
    }

    #logo
    {
        margin-left: 1rem;
    }

    .link
    {
        grid-template-rows: auto auto;
        display: grid;
        row-gap: 2rem;
    }

    #hotel_marseille
    {
        background: none;
    }

    .marseille_room_jpg-pic
    {
        height: 14rem;
    }

    #most_populars
    {
        grid-template-rows: auto repeat(3, 12rem);
        grid-template-columns: 1fr;
        border-radius: 0;
        grid-row: 1/2;
    }

    #marseille_activities
    {
        padding: 3rem;
    }

    footer 
    {

    }
 }
     
 @media screen and (min-width: 650px)
 {
     .fa-search
     {
         display: none;
     }
 }
 
     
 