html
{
    font-family : 'Raleway', arial , sans-serif ;
    color: #181818; 
}

body
{
    margin: 0;
}

a:link 
{ 
 text-decoration:none; 
} 


header
{
    display: grid;
    max-width: 1440px;
    margin: auto;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar button";
}


/* navbar*/

header nav
{
    grid-area: navbar;
}

header ul
{
    margin: 1.2rem 0;
    width: 100%;
    text-align: center;
    list-style: none;
    display: inline-flex;
    padding: 0;

}


header li 
{
    padding: 0 1.3rem;
}

.link
{
    color: #0065fc;
    border-top: 3px solid #0065fc;
}

.link2:hover
{
    border-top: 3px solid #0065FC;
    color: #0065FC;
}
header nav a 
{
    padding: 1rem 0;
    font-weight: 500;
    text-align: center;
    transition-duration: 0.1s;
    border-bottom: 3px transparent solid;
}


.sign
{
    font-weight: bold;
    margin-right: 10px;
    color: #0065fc;
    border-top: none;
}

/*barre de recherche*/

article
{
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

.title_search h1
{
    margin: 00px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap; 
}


.logo_loupe
{
    background-color: #F2F2F2;
        padding: 1rem 1.25rem;
        border-radius: 1rem 0 0 1rem;
        text-align: center;
    }

#recherche
{
    display: inline-flex;
   max-width: 100%;
   overflow: auto;
}


.bloc_search
{
    display: flex;
    justify-content: flex-start;
    
}


button
{
    background-color: #0065FC;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 0 1rem 1rem 0;
        font-family: "Raleway", "Sans serif";
        font-size: 1rem;
        cursor: pointer;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
}

.nav_bar
{
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway","Sans serif";
}

/* filtres*/

#filtres
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.title_filtres
{
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    margin-right: 28px;
}
 
.filtre
{
display: flex;
}

.filtre_bouton
{
display: flex;
align-items: center;
margin-right: 2rem;
border: 2px solid #d9d9d9;
border-radius: 2rem;
cursor: pointer;
font-weight: bold;
padding-right: 1rem;
}

.icon_filter
{
    display: flex;
    background-color: #deebff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    min-width: 3.5rem;
    min-height: 3.5rem;
    margin: -2px;
    color: #0065fc;
    margin-right: 1rem;
}


.fa-male, .fa-money-bill-wave, .fa-heart, .fa-dog
{
    font-size: 1.2em;
    color: #0065fc;
}

.filtre_bouton p 
{
    font-weight: bold;
}

.filtre_bouton:hover
{
    text-decoration: underline;
    color: #0065fc;
}

.filtre_bouton:hover
{
    transform: scale(1.01);
    background-color: #dceaff;
}

h4
{
font-size: medium;
font-weight: normal;
font-style: normal;
}

#info
{
  
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}

.fa-info
 {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color: #0065FC;
}



/* chambres */

#room
{
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 6fr 3fr;
    
}
.title_room
{
    margin: 0px;
    font-size: 1.2em;
    grid-column: 1/-1;
    font-weight: bold;
}

#hotel_marseille
 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2rem;
}

.marseille_room
{
    border: 2px solid white;
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
}

.marseille_room_jpg-pic
{
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1rem 1rem 0 0;
}

.hotel_name
{
    margin: 0.25rem 0.75rem 0 0.75rem;
    color: black;
}

.hotel_price
{
   margin: 0.25rem 0.75rem 0 0.75rem; 
   color: black;
}

.more a
{
    font-weight: bold;
    color: black;
}
.more a:hover
{
    color: #0065FC;
}
.room_notation
{
    color: #0065fc;
    margin: 0.25rem 0.75rem 0 0.75rem;
}

.grey-star
{
    color:#EAEDED;
}

.marseille_room:hover
{
    transform: scale(1.01);
}

/* populaire */

#most_populars
{
    row-gap: 2rem;
    display: grid;
    align-items: start;
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    padding: 2rem;
}

#most_populars h2
{
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.title_pop
{
     font-size: large;
    margin-bottom: 21px;
}

.most_pop
{
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 150px;
    margin-bottom: 30px;
}

#most_populars a 
{
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow: auto;
}

.most_pop_jpg-pic1
{
    margin: 0;
    position: relative;
    min-height: 100%;
    min-width: 33%;
    max-width: 33%;
    border-radius: 1rem 0 0 1rem;
    width: 100%;
    object-fit: cover;
}

.most_pop_jpg-pic
{
    margin: 0;
    position: relative;
    min-height: 100%;
    min-width: 33%;
    max-width: 33%;
    border-radius: 1rem 0 0 1rem;
    width: 100%;
    object-fit: cover;
}

.most_pop_jpg-pic3
{
    margin: 0;
    position: relative;
    min-height: 100%;
    min-width: 33%;
    max-width: 33%;
    border-radius: 1rem 0 0 1rem;
    width: 100%;
    object-fit: cover;
    height: 7rem;
}

.most_pop_name_price
{
    padding-bottom: 6px;
    flex-direction: column;
}

.room_text_pop
{
    display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.pop_notation
{
    color: #0065fc;
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
}

#most_populars a:hover
{
    transform: scale(1.01);
}
/* marseille activités*/

#marseille_activities
{
    display: grid;
    margin: 4rem 0;
    column-gap: 2rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
}

.title_activities
{
    grid-column: 1/-1;
    font-size: 1.6em;
}


#marseille_activities a
{
    box-shadow: 0 0 20px #5856562e;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition-duration: 0.1s;
}

.activitie_jpg
{
    position: relative;
    flex: 1;
}

.activitie_pic
{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

#act1
{
    grid-row: 2/7;
    grid-column: 1/2;
}

#act2
{
    grid-column: 2/3;
    grid-row: 2/5
}

#act3
{
    grid-column: 3/4;
    grid-row: 2/7;
}

#act4
{
    grid-column: 4/5;
    grid-row: 2/3;
}

#act5
{
    grid-column: 2/3;
    grid-row: 6/7;
}

#act6
{
    grid-column: 4/5;
    grid-row: 4/7;
}
.activitie_name
{
    margin: 1.2rem 1.5rem;
    color: #181818;
}

#marseille_activities a:hover
{
    transform: scale(1.02);
}

/*footer*/

footer
{ 
    background-color: #f2f2f2;
    display: flex;
    max-width: 100%;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;   
}

.bloc_footer
{ 
    padding: 2rem 2rem;
    width: 25%;
}
footer h3
{
    font-size: 19px;
    margin: 1rem 0;
    margin-right: 300px;
}
.bloc_footer ul
{ 
    list-style-type: none;
    padding: 10px;
   
}

.link_footer
{
    margin: 1rem 0;
    font-size: 15px;
    cursor: pointer;
    line-height: 28px;
}

.bloc_footer a:hover
{
    color: #0065FC;
}

@media screen and (min-width: 1101px)
 {

    #room
    {
        display: grid;
        column-gap: 2rem;
        grid-template-columns: 6fr 3fr;
    } 

}

@media screen and (max-width: 750px)
{


    header 
    {
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
            "logo . button"
            "navbar navbar navbar";
        position: relative;
    }

    .sign
    {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        width: auto;
        border-bottom: none;
    }

    
    header li
     {
        width: 50%;
        padding: 0;
    }

    .navbar 
    {
        display: inline-block;
        border-bottom: 3px #f2f2f2 solid;
        width: 100%;
    }

    .link
    {
        border-bottom: 3px #0065FC solid;
        border-top: none;
    }

    .link2 
    {
        border-bottom: 3px #f2f2f2 solid;
    }

    .link2:hover
    {
        border-bottom: 3px solid #0065fc;
        border-top: none;
    }
    header nav a:hover
     {
        border-top: none;
    }

    header nav a 
    {
        display: inline-block;
        width: 100%;
        color: #0065fc;
        border-top: none;
    }

    .sign
    {
        color: #0065fc;
        font-weight: bold;
    }
    #recherche
    {
        margin-top: 15px;
    }
    #filtres
    {
        flex-direction: column;
    }

    .filtre
    {
        flex-direction: column;
    }

    .filtre_bouton
    {
        margin-bottom: 10px;
    }

    .loupe
    {
        display: none;
    }
    #room
    {
        flex-direction: column-reverse;
        display: flex;
    }
    #hotel_marseille, #marseille_activities
    {
        grid-template-columns: 1fr;
    }

    #hotel_marseille
    {
        background: none;
    }
    #marseille_activities
    {
        grid-template-rows: auto repeat(6, 20rem);
        row-gap: 2rem;
        margin: 0;
    }

    #marseille_activities h2 
    {
        grid-row: 1;
        grid-column: 1/-1;
    }

    #act1
    {
        grid-row: 2;
        grid-column: 1/-1;
    }

    #act2 
    {
        grid-row: 3;
        grid-column: 1/-1;
    }

    #act3
    {
        grid-row: 4;
        grid-column: 1/-1;
    }

    #act4
    {
        grid-row: 5;
        grid-column: 1/-1;
    }

    #act5
    {
        grid-row: 6;
        grid-column: 1/-1;
    }

    #act6 
    {
        grid-row: 7;
        grid-column: 1/-1;
    }

    #footer
    {
        flex-direction: column;
    }

    footer h3 
    {
        margin: 0;
        margin-bottom: 10px;
    }

    .bloc_footer
    {
        width: 90%;
    }
 }

 @media screen and (min-width: 750px) and (max-width:1100px)
{

    #room
    {
        display: flex;
        flex-direction: column-reverse;

    }
    
    .filtre
    { 
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .filtre_bouton
    {
        margin-bottom: 15px;
    }
    #hotel_marseille, #marseille_activities
    {
        grid-template-columns: 1fr 1fr;
    }

    
    #marseille_activities
    {
        grid-template-rows: auto 12rem 12rem 12rem;
        row-gap: 2rem;
        margin: 0;
    }

        #marseille_activities h2 
        {
            grid-column: 1/-1;
        }

        #act1
        {
            grid-row: 2;
            grid-column: 1;
        }

        #act2
        {
            grid-row: 2;
            grid-column: 2;
        }

        #act3
        {
            grid-row: 3;
            grid-column: 1;
        }

        #act4
        {
            grid-row: 3;
            grid-column: 2;
        }

        #act5
        {
            grid-row: 4;
            grid-column: 1;
        }

        #act6
        {
            grid-row: 4;
            grid-column: 2;
        }

    
}       

 @media screen and (max-width:1100px)
{
    body 
    {
        padding: 0;
    }

    #search
    {
        padding: 0 1rem;
    }

    #logo
    {
        margin-left: 1rem;
    }

    

    #hotel_marseille
    {
        background: none;
    }

    .marseille_room_jpg-pic
    {
        height: 14rem;
    }

    #most_populars
    {
        grid-template-rows: auto repeat(3, 12rem);
        grid-template-columns: 1fr;
        border-radius: 0;
        grid-row: 1/2;
    }

    #marseille_activities
    {
        padding: 3rem;
    }

    
}
     
 @media screen and (min-width: 667px)
 {
     .fa-search
     {
         display: none;
     }
  }