body
{
    font-family : 'Raleway', arial , sans-serif ;
    color: #181818;
}

#bloc_page
{
    width: 96%;
    margin: auto;
}



    #bloc_page
    {
        width: auto;
    }

    nav 
    {
        width: auto;
        text-align: left;
    }
    nav ul 
    {
        flex-direction: column;
    }

    nav li 
    {
        padding-left: 4px;
        list-style-type: none;    
    }

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
 
footer
{ 
    background-color: #f2f2f2;
    display: flex;
    padding: 25px 25px;
    justify-content: space-between;
}
footer h3, footer a 
{
    font-size: 0.9em;
}

#bloc_footer
{ 
    display: flex;
    justify-content: space-around;

}


