body
{
    font-family : 'Raleway', arial , sans-serif ;
    color: #181818;
    max-width: 1350px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

*
{
    margin: 0px;
    padding: 0px;
}
#bloc_page
{
    max-width: 1350px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

a:link 
{ 
 text-decoration:none; 
} 


header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
   
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

    nav ul 
    {
        list-style-type: none;
        display: flex;
    }

    nav li 
    {
        margin-right: 50px;  
    }


.nav_bar
{
    padding-top: 10px;
}
.bloc_search ul
{
    list-style-type: none;
    margin-left: 2px;
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.bloc_search h3
{
    margin: 20px;
   
}
 
/* chambres */

.room
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-bottom: 0px;
}
.title_room
{
    margin: 0px;
    font-size: large;
    margin-bottom: 0px;
}

.hotel_marseille
 {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 20px;
    padding: 44px 36px 44px 36px;
    max-width: 805px;
}

.marseille_rooms
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 60px;
}

.marseille_room
{
    border: 3px solid white;
    border-radius: 20px;
    padding: 5px 5px 10px 5px;
    background-color: white;
    max-width: 236px;
    margin-bottom: 28px;
}

.marseille_room_jpg-pic
{
    width: 236px;
    height: 112px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.marseille_room_jpg
{
    padding-left: 5px;
    padding-right: 5px;
}

.room_text
{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    padding-left: 16px;
}

.hotel_name
{
    padding-bottom: 11px;
    padding-top: 11px;
}

.hotel_price
{
    padding-bottom: 11px;
}

.more 
{
    font-weight: bold;
}



/* populaire */



.title_pop
{
    margin: 0px;
    font-size: large;
    margin-bottom: 21px;
}

.most_populars
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 20px;
    padding: 44px 36px 44px 36px;
    max-width: 805px;
}

.marseille_pop
{
    border: 3px solid white;
    border-radius: 20px;
    padding: 5px 5px 10px 5px;
    background-color: white;
    max-width: 236px;
    margin-bottom: 28px;
}

.most_pop
{
    border: 3px solid white;
    border-radius: 20px;
    padding: 5px 5px 10px 5px;
    background-color: white;
    max-width: 236px;
    margin-bottom: 28px;
}

.most_pop_jpg
{
    padding-left: 5px;
    padding-right: 5px;
}

.most_pop_jpg-pic
{
    width: 210px;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.most_pop_name_price
{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    padding-left: 16px;
}


/* marseille activités*/

#marseille_activities
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 60px;
    max-width: 1350px;  
}

.title_activities
{
    margin: 0px;
    font-size: large;
    margin-bottom: 21px;
}

.activitie
{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#activitie1, #activitie2, #activitie3, #activitie4, #activitie5, #activitie6
{
    box-shadow: 0 0 20px #0000002e;
    padding: 0px 0px 20px 0px;
    border-radius: 20px;
    margin: 0px 0px 20px 0px;
}

.activitie_jpg
{
    background-size: 100% 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 0px 22px 0px;
}

.activitie_pic
{
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}





/*footer*/

footer
{ 
    background-color: #f2f2f2;
    display: flex;
    padding: 48px 20px 51px 50px;
    justify-content: space-between;
    list-style-type: none;
    max-width: 1350px;
    flex-wrap: wrap;
    flex-direction: row;
  
}
footer h3, footer a 
{
    font-size: 1em;
}
.bloc_footer ul
{ 
    list-style-type: none;
    padding: 10px;
    
}



